main {
  display: flex;
  flex-direction: row;
}

article {
  flex: 1 80%;
  margin: 0 2%;
}

aside {
  flex: 1 20%;
  border: solid 1px black;
  border-radius: 5px;
  margin: 5px;
}

.info {
  margin-left: 15px;
}

.theme {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  main, article, aside {
    display: block;
    float: none;
    width: 100%;
    margin: 0 0 2%;
  }
}